/*CSS Archive*/
table th{
    text-align: center;

}
table, table a{
    color: white;
}
.content{
    margin-bottom: 50px;
}
.content:hover{
    background-color: #303e75;

    border-width: 4px;
}

body {
    background-color: #f7f7f9!important;
}

.archive {
    margin-top: 7rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

